a,
input,
button,
textarea,
select {
  outline: none;
}
.date {
  display: block;
  width: 100%;
<<<<<<< HEAD
  font-size: 12px;
  line-height: 12px;
=======
  font-size: 10px;
  line-height: 10px;
>>>>>>> origin/master
  color: #126dc2;
}